#fig4-1{
    width:100%;
    width: auto;
    margin-bottom: 50px;
}
#fig4-1 img{
    width: 100%;
}
#fig4-2{
    width:100%;
    width: auto;
}
#fig4-2 img{
    width: 100%;
}
#fig4-3{
    width:100%;
    width: auto;
    margin-bottom: 50px;
}
#fig4-3 img{
    width: 100%;
}

#fig5-1{
    width:100%;
    width: auto;
}
#fig5-1 img{
    width: 100%;
}

#project-title{
    padding-top: 10px;
    padding-bottom: 10px;
}
