#fig4-1{
    width:100%;
    height: auto;
    margin-bottom: 50px;
}
#fig4-1 img{
    width: 100%;
}
#fig4-2{
    width:100%;
    height: auto;
}
#fig4-2 img{
    width: 100%;
}
#fig4-3{
    width:100%;
    height: auto;
    margin-bottom: 50px;
}
#fig4-3 img{
    width: 100%;
}

#fig5-1{
    width:100%;
    height: auto;
    margin-bottom: 20px;
}
#fig5-1 img{
    width: 100%;
}

#project-title{
    padding-top: 10px;
    padding-bottom: 10px;
}


#fig3-1{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    
    
}
#fig3-1 img{
    width: 100%;
    
}

#fig3-2{
    width: 100%;
    height: auto;
}
#fig3-2 img{
    width: 100%;
    
}
#k-container{
    margin: 0 auto;
    text-align: center;
}

#fig-2A{
    margin-bottom: 30px;
}

#fig-2B{
position: absolute;
    top: 0px;
    left: 0px;
    width: 40%;
    
}
#fig-2B img{
    width: 100%;
    
}
#fig-2C{
    position: absolute;
    top: 100px;
    right:  0px;
    width: 60%;
}


.linkfile{
    
}
.linkfile:hover{
    text-decoration: underline;
}

#table1{
    width: 100%;
margin: 0 auto;
}

#fig4-5{
    width: 100%;
    
}

#figinline{
   position: relative;
    width: 100%;
    height: 500px;

}