#fig4-1{
    width:100%;
    height: auto;
    margin-bottom: 50px;
}
#fig4-1 img{
    width: 100%;
}
#fig4-2{
    width:100%;
    height: auto;
}
#fig4-2 img{
    width: 100%;
}
#fig4-3{
    width:100%;
    height: auto;
    margin-bottom: 50px;
}
#fig4-3 img{
    width: 100%;
}

#fig5-1{
    width:100%;
    height: auto;
    margin-bottom: 20px;
}
#fig5-1 img{
    width: 100%;
}

#project-title{
    padding-top: 10px;
    padding-bottom: 10px;
}


#fig3-1{
    width: 100%;
    height: auto;
    
    
}
#fig3-1 img{
    width: 100%;
    
}

#fig3-2{
    width: 100%;
    height: auto;
}
#fig3-2 img{
    width: 100%;
    
}
#k-container{
    margin: 0 auto;
    text-align: center;
}

#fig-2A{
    margin-bottom: 30px;
}

#fig-2B img{
    margin-bottom: 5px;
}